@{
    ViewData["Title"] = "Educação Financeira";
}

<div class="news-section-container">
    <h1 class="text-center mb-4 fw-bold">Últimas Notícias Financeiras</h1>

    <div id="noticias-container" class="row g-4 justify-content-center">
        <div class="spinner-container">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Carregando...</span>
            </div>
        </div>
    </div>
</div>

<script src="~/js/noticias.js" asp-append-version="true"></script>