@model IEnumerable<savemoney.Models.Despesa>

@{
    ViewData["Title"] = "Despesas";
}

<h2>Despesas</h2>

<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#despesaModal">
    + Nova Despesa
</button>

<hr />

<div class="row">
    @foreach (var despesa in Model)
    {
        <div class="col-md-4">
            @await Html.PartialAsync("_DespesaCard", despesa)
        </div>
    }
</div>

<!-- Modal de criação/edição -->
<div id="modalCreateContainer">
    @await Html.PartialAsync("_CreateOrEditModal", new savemoney.Models.Receita())
    @await Html.PartialAsync("_DeleteModal")
</div>

<div id="modalEditContainer"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

    <script>

        // ABRIR MODAL DE EDIÇÃO
              function openReceitaModal(id) {
            $.get('/Receitas/Edit/' + id, function (html) {
                $('#modalEditContainer').html(html); // carrega modal de edição
                $('#editReceitaModal').modal('show'); // abre modal
            });
        }

        // ABRIR MODAL DE EXCLUSÃO
        function openDeleteModal(id, name) {
            $('#delete-id').val(id);
            $('#delete-name').text(name);

            var modalEl = document.getElementById('deleteModal');
            var modal = new bootstrap.Modal(modalEl);
            modal.show();
        }

        // CONFIRMAR EXCLUSÃO
        $('#confirm-delete-btn').on('click', function () {

            var id = $('#delete-id').val();

            $.post('/Receitas/Delete/' + id, function () {    
                location.reload();
            }).fail(function () {
                alert("Erro ao excluir.");
            });
        });

    </script>
