@model IEnumerable<savemoney.Models.Despesa>

@{
    ViewData["Title"] = "Despesas";
}

<h2>Despesas</h2>

<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#despesaModal">
    + Nova Despesa
</button>

<hr />

<div class="row">
    @foreach (var despesa in Model)
    {
        <div class="col-md-4">
            @await Html.PartialAsync("_DespesaCard", despesa)
        </div>
    }
</div>

<!-- Modal de criação/edição -->
@await Html.PartialAsync("_CreateOrEditModal", new savemoney.Models.Despesa())

