@{
    ViewData["Title"] = "Calculadora de Metas";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <span class="material-icons md-48 text-warning mb-3" style="font-size: 64px;">
                construction
            </span>
            <h1 class="display-5 mb-3">Calculadora de Metas</h1>
            <p class="lead mb-4">
                Esta funcionalidade está em desenvolvimento.<br>
                Em breve você poderá utilizar a Calculadora de Metas para planejar e acompanhar seus objetivos financeiros!
            </p>
            <div class="alert alert-info d-inline-block" role="alert">
                <span class="material-icons align-middle me-2">
                    info
                </span>
                Fique atento às próximas atualizações.
            </div>
        </div>
    </div>
</div>