@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PUC MINAS</h1>
    <catedral-modal id="modal1" title="Bem-vindo ao Modal 1" open-label="Abrir Modal 1">
        <p>Este é o conteúdo do primeiro modal. Você pode adicionar qualquer texto ou elementos aqui.</p>
    </catedral-modal>
</div>
