@model IEnumerable<savemoney.Models.Receita>

@{
    ViewData["Title"] = "Receitas";
}

<h2>Receitas</h2>

<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#despesaModal">
    + Nova Receita
</button>

<hr />

<div class="row">
    @foreach (var receita in Model)
    {
        <div class="col-md-4">
            @await Html.PartialAsync("_ReceitaCard", receita)
        </div>
    }
</div>

<!-- Modal de criação/edição -->
@await Html.PartialAsync("_CreateOrEditModal", new savemoney.Models.Receita())
